/* PRIMERA PANTALLA!!!!*/

* {
    margin: 0;
    padding: 0;
}

/* COLORES
#fa8482 -  #ffd780 - #a5ac42 - #fb97d5  #f8f3e0 - #EFE8E4
*/

body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

#header {
    background-color: #EFE8E4;
    z-index: 2;
}

#navbar-nombre {
    color: #fa8482;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

#header__items {
    color: black;
    text-decoration: none;
}

#header__items:hover {
    color: #fa8482;
}

#footer__items {
    color: black;
    text-decoration: none;

    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

#footer_items:hover {
    color: #fa8482;
}

.cover__contenedor {
    width: 100vw;
    padding: 0;
}

.cover__img {
    background-size: cover;
    animation: cover-animacion 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.cover__textos {
    padding-bottom: 26.25rem;
}

.cards {
    width: 80vw;
}

.card,
.inicio__cards {
    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

@keyframes animacion-cards {
    to {
        clip-path: circle(100% at 50% 50%);
    }
}

.card--titulos {
    margin-bottom: 2.5rem;
    margin-top: 3rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

h1 {
    font-size: 4.6rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.cover__subtexto {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.card-textos {
    padding-bottom: 12.25rem;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

@keyframes cover-animacion {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.inicio {
    width: 100vw;
    height: 70vh;
    align-items: center;
}

.inicio__cards {
    margin-top: 3%;
}

.img__icono--mate {
    width: 70%;
}

.img__icono--envios svg,
.img__icono--promociones svg {
    width: 23%;
    height: 50%;
}

.inicio__img {
    width: 25%;
    margin-bottom: 3%;
    align-items: center;
    color: black;
}

.inicio__subtitulo,
.img__icono--envios,
.img__icono--promociones,
.img__icono--mate {
    text-align: center;
}

.accordion-texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}

.overlay-collapse {
    overflow: overlay;
    background-color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #EFE8E4;
    color: unset;
}

span {
    font-weight: bold;
}

/* FOOTER !! */
.footer {
    background-color: #EFE8E4;
}

.footer__texto {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    color: #000000;
}

.contactanos__svg {
    padding: 0;
    width: 10.666667%;
    margin-top: 1%;
}

/* FORMULARIO - GRID !!!!!! */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
}

.grid .grid__circulo--naranja {
    grid-column: 10/11;
    grid-row: 1;
    margin-top: 3vh;
}

.grid .grid__circulo--rosa {
    grid-column: 2/3;
    grid-row: 3;
    margin-top: 3%;
}

.grid .grid__circulo--rosaoscuro {
    grid-column: 10/11;
    grid-row: 2;
    margin-right: 4vw;
}

.img__circulo--naranja {
    width: 50%;
    margin-left: -4vw;
}

.img__circulo--rosa {
    width: 60%;
    margin-top: -11vh;
}

.img__circulo--rosaoscuro {
    width: 160%;
    margin-top: 4vh;
}

.grid .grid__circulo--naranja-dos {
    grid-column: 3/4;
    grid-row: 2;
    margin-top: -5vh;
}

.grid .grid__circulo--rosa-dos {
    grid-column: 10/11;
    grid-row: 4;
}

.grid .grid__circulo--rosaoscuro-dos {
    grid-column: 2;
    grid-row: 1;
}

.img__circulo--naranja-dos {
    width: 100%;
}

.img__circulo--rosa-dos {
    width: 65%;
    margin-right: 2vh;
}

.img__circulo--rosaoscuro-dos {
    width: 75%;
}

.grid .grid__circulo--verdeyrosa {
    grid-column: 2/3;
    grid-row: 4;
    margin-top: -2vw;
}

.grid .grid__circulo--rosayamarillo {
    grid-column: 3/4;
    grid-row: 4;
}

.grid .grid__circulo--rojo {
    grid-column: 11/12;
    grid-row: 3;
}

.grid .grid__circulo--verdeyrosa-dos {
    grid-column: 11/12;
    grid-row: 1;
}

.img__circulo--verdeyrosa {
    width: 105%;
    margin-left: -5vw;
}

.img__circulo--rosayamarillo {
    width: 80%;
    margin-left: 9vh;
    margin-top: -5vw;
}

.img__circulo--rojo {
    width: 105%;
}

.img__circulo--verdeyrosa-dos {
    width: 80%;
}

.img__circulo--naranja,
.img__circulo--rosa,
.img__circulo--rosaoscuro-dos,
.img__circulo--rosa-dos,
.img__circulo--rosaoscuro,
.img__circulo--verdeyrosa,
.img__circulo--rosayamarillo,
.img__circulo--rojo,
.img__circulo--verdeyrosa-dos,
.img__circulo--naranja-dos {
    animation: animacion-circulos 3s ease-in-out forwards normal;
    clip-path: circle(0% at 50% 50%);
}


@keyframes animacion-circulos {
    to {
        clip-path: circle(50% at 50% 50%);
    }
}

.formulario {
    margin-top: 4%;
    margin-bottom: 8%;
}

.formulario__titulo {
    font-size: 3rem;
    padding-top: 2%;
}

.formulario--card {
    padding: 5%;
}

.formulario__contenedor {
    border: 6px solid rgba(250, 132, 130, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
}

.formulario__labels {
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.formulario__items {
    padding: 2%;
}

.formulario__items--btn {
    margin-top: 3%;
    padding: 1% 6%;
    background: #fa8482;
    font-family: 'Merriweather', serif;
    font-weight: 560;
    color: black;
    justify-content: center;
}

.formulario__items--btn:hover {
    animation: btn-hover 3s ease-in-out forwards normal;
}

.form-control:focus {
    color: rgb(255, 0, 106);
}

@keyframes btn-hover {

    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale (0.9);
    }

    100% {
        transform: scale(0.9);
    }
}

.formulario__items--reset {
    margin-top: 3%;
    padding: 1% 5%;
    font-family: 'Merriweather', serif;
    font-weight: 360;

    border: 1px solid black;

}

/* PANTALLA DE NOSOTROS */

.secciones__titulos {
    margin-top: 3%;
}

.nosotros__imagenes {
    width: 50%;
}

.nosotros__img--vector {
    padding-top: 7%;
    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

.nosotros__textos {
    animation: textos-animacion 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

@keyframes textos-animacion {
    to {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}

.nosotros__img--matesrosa {
    z-index: 1;
    width: 25%;
    margin-bottom: -22%;
    margin-left: 12%;

    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

.nosotros__img--matesvangogh {
    width: 25%;
    margin-left: -5%;
    margin-bottom: -12%;

    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

.nosotros__descripcion--textos {
    width: 50%;
}

/* PÁGINA DE CLIENTES !!!!!!!! */

.clientes {
    height: 70vh;
}

.clientes__subtitulo {
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 3%;
    padding-right: 4%;
}

.clientes__cards {
    width: 30vw;
    height: 30vh;
}

.cards__contenedor {
    box-shadow: #b9b9b926 4px 4px 10px;
    background-color: #EFE8E4;
    border: none;
}

.clientes__img {
    border-radius: 50%;
    border: 6px solid rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 8px;
    z-index: 99;
}

.user-content h3 {
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    color: #000000;
}

.user-content p {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
}

.ratings i {
    color: rgb(255, 208, 0);
}

/* --------------------------------------------------------------------------------------------------------- */

/* MEDIA QUERIES PRIMERA PANTALLA */

/* DE 575 PARA ABAJO */
@media screen and (max-width: 575.98px) {
    .cover__textos {
        padding-bottom: 7.25rem;
    }

    .cover__img {
        background-size: cover;
    }

    h1 {
        font-size: 2.3rem;
    }

    .cover__subtexto {
        font-size: 0.7rem;
    }

    .nosotros__img--matesrosa {
        width: 43%;
        /* 6% */
        margin-bottom: 56%;
        margin-left: 26%;
    }

    .nosotros__img--matesvangogh {
        width: 48%;
        margin-left: -1%;
        /* 32% */
        margin-bottom: 74%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }

    .inicio {
        /* 120vh */
        height: 88vh;
    }

    .inicio_preguntas {
        height: 50vh;
    }

    .inicio_preguntas {
        height: 50vh;
    }

    .inicio__cards {
        text-align: center;
    }

    .img__icono--mate {
        width: 90%;
        padding-left: 10%;
    }

    .footer_contacto {
        margin-top: 5%;
    }

    .footer {
        height: 64vh;
    }

    .clientes__subtitulo {
        font-size: 1rem;
        padding-left: 3%;
        margin-bottom: 6%;
    }

    .clientes {
        height: 130vh;
    }

    .clientes__cards {
        width: 85vw;
        height: 32vh;
    }

    .user-content h3 {
        font-size: 1.2rem;
    }

    .user-content p {
        font-size: 1rem;
    }

    .formulario__contenedor {
        width: 80vw;
    }

    .grid {
        grid-template-rows: repeat(5, 1fr);
    }

    .grid .grid__circulo--rosaoscuro-dos {
        grid-row: 3;
        margin-top: -12vw;
    }

    .grid .grid__circulo--rosa {
        width: 51vw;
        margin-top: -153%;
    }

    .grid .grid__circulo--verdeyrosa {
        grid-row: 4;
    }

    .img__circulo--rosa {
        margin-top: 16vh;
    }

    .img__circulo--verdeyrosa {
        width: 28vw;
        margin-left: 0vw;
    }

    .img__circulo--naranja {
        width: 30%;
    }

    .img__circulo--verdeyrosa-dos {
        width: 25vw;
    }

    .img__circulo--rosaoscuro-dos {
        width: 25vw;
    }

    .img__circulo--rojo {
        width: 30vw;
    }
}


@media screen and (min-width: 576px) {

    #header__items {
        text-align: center;
    }

    h1 {
        font-size: 2.7rem;
    }

    .cover__img {
        background-size: cover;
    }

    .cover__textos {
        padding-bottom: 10.25rem;
    }

    .cover__subtexto {
        font-size: 0.8rem;
    }

    .card--titulos {
        font-size: 2.2rem;
    }

    .card-textos {
        padding-bottom: 15.25rem;
        font-size: 2rem;
        line-height: 50px;
        width: 100%;
        left: 2px;
    }

    .inicio {
        /* 128vh */
        height: 88vh;
    }

    .inicio_preguntas {
        height: 52vh;
    }

    .inicio__cards {
        text-align: center;
    }

    .img__icono--mate {
        width: 90%;
        padding-left: 10%;
    }

    .nosotros__img--matesrosa {
        width: 43%;
        /* 0% */
        margin-bottom: 56%;
        margin-left: 26%;
    }


    .nosotros__img--matesvangogh {
        width: 48%;
        margin-left: -1%;
        /* 20% */
        margin-bottom: 74%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }

    .footer_contacto {
        margin-top: 5%;
    }

    .footer {
        height: 64vh;
    }

    .clientes__subtitulo {
        font-size: 1.2rem;
        padding-left: 3%;
        margin-bottom: 6%;
    }

    .clientes {
        height: 80vh;
    }

    .clientes__cards {
        width: 37vw;
        height: 37vh;
    }

    .user-content h3 {
        font-size: 1.3rem;
    }

    .user-content p {
        font-size: 1.1rem;
    }

    .formulario__contenedor {
        width: 80vw;
    }

    .grid {
        grid-template-rows: repeat(2, 1fr);
    }

    .grid .grid__circulo--rosaoscuro-dos {
        grid-row: 3;
        margin-top: -32vw;
    }

    .grid .grid__circulo--rosa {
        width: 51vw;
        margin-top: -153%;
    }

    .grid .grid__circulo--verdeyrosa {
        grid-row: 4;
        margin-top: -17vw;
    }

    .img__circulo--rosa {
        width: 37%;
        margin-top: 16vh;
    }

    .img__circulo--verdeyrosa {
        width: 22vw;
        margin-left: 0vw;
    }

    .img__circulo--naranja {
        width: 30%;
    }

    .img__circulo--verdeyrosa-dos {
        width: 32vw;
    }

    .img__circulo--rosaoscuro-dos {
        width: 23vw;
    }

    .img__circulo--rojo {
        width: 26vw;
    }

    .grid .grid__circulo--rosa-dos {
        grid-row: 3;
    }

    .grid .grid__circulo--rosayamarillo {
        grid-row: 3;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .cover__img {
        background-size: cover;
    }

    .cover__textos {
        padding-bottom: 15.25rem;
    }

    .cover__subtexto {
        font-size: 1rem;
        font-family: 'Merriweather', serif;
        font-weight: 500;
    }

    .nav_items {
        padding-top: 0.5rem;
    }

    .card-textos {
        padding-bottom: 4.25rem;
        font-size: 1.2rem;
        line-height: 25px;
        width: 98%;
        left: 2px;
    }

    .inicio {
        /* 56vh */
        height: 45vh;
    }

    .inicio_preguntas {
        height: 52vh;
    }

    .nosotros__img--matesrosa {
        width: 34%;
        /* -32% */
        margin-bottom: 32%;
        margin-left: 23%;
    }


    .nosotros__img--matesvangogh {
        width: 40%;
        margin-left: -1%;
        /* -15% */
        margin-bottom: 40%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }


    .footer_contacto {
        margin-top: 0%;
    }

    .footer {
        height: 40vh;
    }

    .clientes__subtitulo {
        font-size: 1.35rem;
        padding-left: 3%;
        margin-bottom: 6%;
    }

    .clientes {
        height: 80vh;
    }

    .clientes__cards {
        width: 36vw;
        height: 37vh;
    }

    .user-content h3 {
        font-size: 1.4rem;
    }

    .user-content p {
        font-size: 1.2rem;
    }

    .formulario__contenedor {
        width: 60vw;
    }

    .grid {
        grid-template-rows: repeat(3, 1fr);
    }

    .grid .grid__circulo--rosaoscuro-dos {
        grid-row: 3;
        margin-top: -31vw;
        margin-left: 3vh;
    }

    .grid .grid__circulo--rosa {
        width: 51vw;
        margin-top: -128%;
    }

    .grid .grid__circulo--verdeyrosa {
        grid-row: 4;
        margin-top: -25vw;
    }

    .img__circulo--rosa {
        width: 30%;
        margin-top: 16vh;
    }

    .img__circulo--verdeyrosa {
        width: 20vw;
        margin-left: -1vw;
    }

    .img__circulo--naranja {
        width: 30%;
    }

    .img__circulo--verdeyrosa-dos {
        width: 22vw;
    }

    .img__circulo--rosaoscuro-dos {
        width: 21vw;
    }

    .img__circulo--rojo {
        width: 26vw;
    }

    .grid .grid__circulo--rosa-dos {
        grid-row: 3;
    }

    .grid .grid__circulo--rosayamarillo {
        grid-row: 3;
    }

}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 4rem;
    }

    .carrousel-caption {
        bottom: -6.75rem;
    }

    .cover__img {
        background-size: cover;
    }

    .cover__textos {
        padding-bottom: 13.25rem;
    }

    .cover__subtexto {
        font-size: 1.2rem;
    }

    .card-textos {
        padding-bottom: 7.25rem;
        line-height: 32px;
        width: 88%;
        left: 7%;
    }

    .inicio {
        height: 65vh;
    }

    .inicio_preguntas {
        height: 53vh;
    }

    .nosotros__img--matesrosa {
        width: 31%;
        margin-left: 20%;
        margin-bottom: -37%;
    }

    .nosotros__img--matesvangogh {
        width: 33%;
        margin-left: -1%;
        margin-bottom: -21%;

    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 44vh;
    }

    .clientes__subtitulo {
        font-size: 1.45rem;
        padding-left: 3%;
        margin-bottom: 6%;
    }

    .clientes {
        height: 75vh;
    }

    .clientes__cards {
        width: 45vw;
        height: 34vh;
    }

    .user-content h3 {
        font-size: 1.6rem;
    }

    .user-content p {
        font-size: 1.16rem;
    }

    .formulario__contenedor {
        width: 60vw;
    }

    .grid {
        grid-template-rows: repeat(3, 1fr);
    }

    .grid .grid__circulo--rosaoscuro-dos {
        grid-row: 3;
        margin-top: -26vw;
        margin-left: 9vh;
    }

    .grid .grid__circulo--rosa {
        width: 51vw;
        margin-top: -128%;
    }

    .grid .grid__circulo--verdeyrosa {
        grid-row: 4;
        margin-top: -20vw;

    }

    .grid .grid__circulo--verdeyrosa-dos {
        margin-right: 4vh;
    }

    .img__circulo--rosa {
        width: 25%;
        margin-top: 27vh;
    }


    .img__circulo--verdeyrosa {
        width: 17vw;
        margin-left: -1vw;
    }

    .img__circulo--naranja {
        width: 30%;
    }

    .img__circulo--verdeyrosa-dos {
        width: 20vw;
    }

    .img__circulo--rosaoscuro-dos {
        width: 17vw;
    }

    .img__circulo--rojo {
        width: 15vw;
    }

    .grid .grid__circulo--rosa-dos {
        grid-row: 3;
    }

    .grid .grid__circulo--rosayamarillo {
        grid-row: 3;
    }

}

@media screen and (min-width: 1200px) {
    .cover__img {
        background-size: cover;
    }

    .cover__textos {
        padding-bottom: 24.25rem;
    }

    h1 {
        font-size: 4.6rem;
    }

    .cover__subtexto {
        font-size: 1.5rem;
    }

    .card-textos {
        padding-bottom: 9.25rem;
        left: 13%;
        line-height: 32px;
        width: 72%;
    }

    .inicio {
        height: 59vh;
    }

    .inicio_preguntas {
        height: 52vh;
    }

    .nosotros__img--matesrosa {
        width: 24%;
        margin-left: 14%;
        margin-bottom: -10%;
    }

    .nosotros__img--matesvangogh {
        width: 28%;
        margin-left: -5%;
        margin-bottom: -1%;
    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 48vh;
    }

    .clientes__subtitulo {
        font-size: 1.5rem;
        padding-left: 3%;
        margin-bottom: 6%;
    }

    .clientes {
        height: 72vh;
    }

    .clientes__cards {
        width: 44vw;
        height: 32vh;
    }

    .user-content h3 {
        font-size: 1.7rem;
    }

    .user-content p {
        font-size: 1.2rem;
    }

    .formulario__contenedor {
        width: 50vw;
    }

    .grid {
        grid-template-rows: repeat(4, 1fr);
    }



}

@media screen and (min-width: 1400px) {

    #header {
        /* width: 100vw; */
        height: 10vh;
    }

    h1 {
        font-size: 4.6rem;
    }

    .card-textos {
        font-size: 1.8rem;
        padding-bottom: 13.25rem;
        left: 13%;
        line-height: 32px;
        width: 72%;
    }

    .inicio {
        height: 53vh;
    }

    .inicio_preguntas {
        height: 50vh;
    }

    .nosotros__img--matesrosa {
        width: 24%;
        margin-left: 12%;
        margin-bottom: -14%;
    }

    .nosotros__img--matesvangogh {
        width: 28%;
        margin-left: -4%;
        margin-bottom: -7%;
    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 48vh;
    }

    .clientes__subtitulo {
        font-size: 1.5rem;
        padding-left: 3%;
        margin-bottom: 4%;
    }

    .clientes {
        height: 76vh;
    }

    .clientes__cards {
        width: 30vw;
        height: 32vh;
    }

    .user-content h3 {
        font-size: 1.7rem;
    }

    .user-content p {
        font-size: 1.2rem;
    }

    .formulario__contenedor {
        width: 50vw;
    }

    .grid {
        grid-template-rows: repeat(5, 1fr);
    }

    .grid .grid__circulo--rosaoscuro-dos {
        grid-row: 3 / auto;

        margin-left: 2vh;
    }

    .img__circulo--rosaoscuro-dos {
        width: 8vw;
    }

    .grid .grid__circulo--rosa {
        width: 29vw;
        margin-top: -80%;
    }

    .grid .grid__circulo--naranja-dos {
        margin-top: -6vh;
        margin-left: -26vh;

    }

    .img__circulo--naranja-dos {
        width: 48%;
    }

    .grid .grid__circulo--verdeyrosa {
        grid-row: 4;
        margin-top: -8vw;
    }

    .img__circulo--verdeyrosa {
        width: 12vw;
        margin-left: -4vw;
    }

    .img__circulo--rosayamarillo {
        width: 167%;
        margin-left: -17vh;
        margin-top: 5vw;
    }

    .img__circulo--verdeyrosa-dos {
        width: 9vw;
    }

    .img__circulo--rojo {
        width: 13vw;
    }

    .grid .grid__circulo--rosa-dos {
        grid-row: 4;
    }

    .img__circulo--rosa-dos {
        width: 110%;
        margin-right: 2vh;
    }

    .grid .grid__circulo--rosaoscuro {
        grid-column: 10/11;
        grid-row: 2;
        margin-right: 4vw;
    }

    .img__circulo--rosaoscuro {
        width: 400%;
        margin-top: 4vh;
    }
}