/* PRIMERA PANTALLA!!!!*/

* {
    margin: 0;
    padding: 0;
}

/* COLORES
#fa8482 -  #ffd780 - #a5ac42 - #fb97d5  #f8f3e0 - #EFE8E4
*/

body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

#header {
    width: 100vw;
    height: 10vh;
    background-color: #EFE8E4;
    z-index: 2;
}

#navbar-nombre {
    color: #fa8482;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}


#header__items {
    color: black;
    text-decoration: none;
    /* margin-right: 24%; */
    background-color: #EFE8E4;
}

#header__items:hover {
    color: #fa8482;
}

#footer__items {
    color: black;
    text-decoration: none;

    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

#footer_items:hover {
    color: #fa8482;
}

.cover__contenedor {
    width: 100vw;
    padding: 0;
}

.cover__img {
    background-size: cover;
    animation: cover-animacion 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

.cover__textos {
    padding-bottom: 26.25rem;
}

.cards {
    width: 80vw;
    /* height: 20vh; */
}

.card,
.inicio__cards {
    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

@keyframes animacion-cards {
    to {
        clip-path: circle(100% at 50% 50%);
    }
}

.card--textom {
    margin-bottom: 2.5rem;
    margin-top: 3rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

h1 {
    font-size: 4.6rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.cover__subtexto {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.card-textos {
    padding-bottom: 12.25rem;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;

}

/* ANIMACION CARD!!!!  */

@keyframes cover-animacion {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.inicio {
    width: 100vw;
    height: 60vh;
    /* background-color: #ffd780; */
    align-items: center;
}

.inicio__cards {
    margin-top: 3%;
}

.inicio h1 {
    grid-area: titulo;
    grid-row: 1/5;
    justify-self: center;

    font-size: 2rem;
}

.inicio__productos {
    grid-area: productos;
    grid-row: 5/10;
    align-items: center;
}

.inicio__promociones {
    grid-area: promociones;
    grid-row: 5/10;

}

.inicio__envios {
    grid-area: envios;
    grid-row: 5/10;

}

.img__icono--mate {
    width: 70%;
}

.img__icono--envios svg {
    width: 23%;
    height: 50%;
}

.img__icono--promociones svg {
    width: 23%;
    height: 50%;
}

.inicio__img {
    width: 27%;
    margin-bottom: 5%;
    align-items: center;
    color: black;
}


.iconify .inicio__icono {
    align-items: center;
    color: #ffd780;
}


.inicio__subtitulo {
    align-items: center;
}


.footer {
    width: 100vw;
    height: 50vh;
    background-color: #EFE8E4;
    margin-top: 4%;
    /* NO SÉ PORQUE QUEDA ESE ESPACIO ABAJO */
    /* margin-bottom: 0; */
}

.footer__texto {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    color: #000000;
}

.contactanos__svg {
    padding: 0;
    width: 10.666667%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
}

.grid .grid__circulo--naranja {
    /* position: absolute; */

    grid-column: 10/11;
    grid-row: 1;
    margin-top: 3vh;
}

.grid .grid__circulo--rosa {
    grid-column: 2/3;
    grid-row: 3;
    margin-top: 3%;

}

.grid .grid__circulo--rosaoscuro {
    grid-column: 10/11;
    grid-row: 2;
    margin-right: 4vw;
}

.img__circulo--naranja {
    width: 50%;
    margin-left: -4vw;
}

.img__circulo--rosa {
    width: 60%;
    margin-top: -11vh;
}

.img__circulo--rosaoscuro {
    width: 160%;
    margin-top: 4vh;
}


.grid .grid__circulo--naranja-dos {
    /* position: absolute; */

    grid-column: 3/4;
    grid-row: 2;

    margin-top: -5vh;

}

.grid .grid__circulo--rosa-dos {
    grid-column: 10/11;
    grid-row: 4;

}

.grid .grid__circulo--rosaoscuro-dos {
    grid-column: 2;
    grid-row: 1;
}

.img__circulo--naranja-dos {
    width: 100%;

}

.img__circulo--rosa-dos {
    width: 65%;
    margin-right: 2vh;
}

.img__circulo--rosaoscuro-dos {
    width: 75%;
}



.grid .grid__circulo--verdeyrosa {
    grid-column: 2/3;
    grid-row: 4;
    margin-top: -2vw;


}

.grid .grid__circulo--rosayamarillo {
    grid-column: 3/4;
    grid-row: 4;
}


.grid .grid__circulo--rojo {
    grid-column: 11/12;
    grid-row: 3;
}

.grid .grid__circulo--verdeyrosa-dos {
    grid-column: 11/12;
    grid-row: 1;
}

.img__circulo--verdeyrosa {
    width: 105%;
    margin-left: -5vw;
}

.img__circulo--rosayamarillo {
    width: 80%;
    margin-left: 9vh;
    margin-top: -5vw;

}

.img__circulo--rojo {
    width: 105%;
}

.img__circulo--verdeyrosa-dos {
    width: 80%;
}


.img__circulo--naranja,
.img__circulo--rosa,
.img__circulo--rosaoscuro-dos,
.img__circulo--rosa-dos,
.img__circulo--rosaoscuro,
.img__circulo--verdeyrosa,
.img__circulo--rosayamarillo,
.img__circulo--rojo,
.img__circulo--verdeyrosa-dos,
.img__circulo--naranja-dos {
    animation: animacion-circulos 3s ease-in-out forwards normal;
    clip-path: circle(0% at 50% 50%);

}


@keyframes animacion-circulos {
    to {
        clip-path: circle(50% at 50% 50%);

    }

}

.formulario {
    margin-top: 2%;
}

.formulario__titulo {
    font-size: 3rem;
}

.formulario__contenedor {
    border: 2px solid rgba(250, 132, 130, 0.3);
    border-radius: 3%;
}

.formulario__labels {
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.formulario__items--btn {
    margin-top: 3%;
    padding: 1% 6%;
    background: #fa8482;
    font-family: 'Merriweather', serif;
    font-weight: 560;
    color: black;
    justify-content: center;
}


.formulario__items--btn:hover {
    animation: btn-hover 3s ease-in-out forwards normal;
}

@keyframes btn-hover {

    0% {
        transform: scale(0.9);
    }

    25% {
        transform: scale(1.3);
    }

    60% {
        transform: scale (0.9);
    }

    100% {
        transform: scale(0.9);
    }
}

.formulario__items--reset {
    margin-top: 3%;
    padding: 1% 5%;
    font-family: 'Merriweather', serif;
    font-weight: 360;

    border: 1px solid black;

}

/* PANTALLA DE NOSOTROS */

.secciones__titulos {
    margin-top: 3%;
}

.nosotros__imagenes {
    width: 50%;
    /* margin: 0; */
}

.nosotros__img--vector {
    padding-top: 7%;
}

.nosotros__textos {
    animation: textos-animacion 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);


}

@keyframes textos-animacion {
    to {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);

    }
}

.nosotros__img--matesrosa {
    z-index: 1;
    width: 25%;
    margin-bottom: -22%;
    margin-left: 12%;

    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}

.nosotros__img--matesvangogh {
    width: 25%;
    margin-left: -5%;
    margin-bottom: -12%;

    animation: animacion-cards 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards normal;
    clip-path: circle(0% at 50% 50%);
}


.nosotros__descripcion--textos {
    width: 50%;
}

/* PÁGINA DE PRODUCTOS!!!! */

.productos__subtitulo {
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 3%;
}

.productos__cards {
    width: 20vw;
    height: 42vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%;
}

.sets__cards {
    width: 20vw;
    height: 51vh;
    background-color: #f8f3e0;
    border-radius: 9px;
    margin-bottom: 2%;
}

.cards__titulo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.cards__img {
    width: 50%;
    padding-top: 5%;
}

.cards__img--cuchara {
    width: 14%;
    padding-top: 5%;
}

.cards__img--cuenco {
    width: 92%;
}

.cards__img--azucarera {
    padding-top: 5%;
    width: 45%;
}

.cards__img--tabla {
    padding-top: 5%;
    width: 57%;
}

.cards__img--set1 {
    padding-top: 5%;
}

.cards__img--set2 {
    width: 102%;
}

.cards__img--bombilla {
    padding-top: 5%;
    width: 10%;
}

.cards__descripcion {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.cards__precio {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

}

.sets__titulo {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 2.8rem;
    margin-bottom: 2%;

}

/* --------------------------------------------------------------------------------------------------------- */

/* MEDIA QUERIES PRIMERA PANTALLA */

/* DE 575 PARA ABAJO */
@media screen and (max-width: 575.98px) {
    .cover__textos {
        padding-bottom: 7.25rem;
    }

    h1 {
        font-size: 2.3rem;
    }

    .cover__subtexto {
        font-size: 0.7rem;
    }

    .collapsed {
        background-color: #EFE8E4;

    }

    .nosotros__img--matesrosa {
        width: 43%;
        margin-bottom: 6%;
        margin-left: 26%;
    }

    .nosotros__img--matesvangogh {
        width: 48%;
        margin-left: -1%;
        margin-bottom: 32%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }

    .inicio {
        height: 105vh;
    }

    .inicio__cards {
        text-align: center;
    }

    .img__icono--mate {
        width: 90%;
        padding-left: 10%;
    }

    .footer_contacto {
        margin-top: 5%;
    }

    .footer {
        height: 64vh;
    }

    .productos__cards {
        width: 100vw;
        height: 50vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }


    .sets__cards {
        width: 100vw;
        height: 50vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

}


@media screen and (min-width: 576px) {

    .cover__textos {
        padding-bottom: 10.25rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    .cover__subtexto {
        font-size: 0.8rem;
    }

    .card--textom {
        font-size: 2.2rem;
    }

    .card-textos {
        padding-bottom: 15.25rem;
        font-size: 2rem;
        line-height: 50px;
        width: 100%;
        left: 2px;
    }

    .inicio {
        height: 110vh;
    }

    .inicio__cards {
        text-align: center;
    }

    .img__icono--mate {
        width: 90%;
        padding-left: 10%;
    }

    .nosotros__img--matesrosa {
        width: 43%;
        margin-bottom: 0%;
        margin-left: 26%;
    }


    .nosotros__img--matesvangogh {
        width: 48%;
        margin-left: -1%;
        margin-bottom: 20%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }

    .footer_contacto {
        margin-top: 5%;
    }

    .footer {
        height: 64vh;
    }


    .productos__cards {
        width: 150vw;
        height: 52vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }


    .sets__cards {
        width: 100vw;
        height: 54vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

}


/* TEXTOS */

@media screen and (min-width: 768px) {
    .cover__textos {
        padding-bottom: 15.25rem;
    }

    h1 {
        font-size: 3rem;
    }

    .cover__subtexto {
        font-size: 1rem;
        font-family: 'Merriweather', serif;
        font-weight: 500;
    }



    .nav_items {
        padding-top: 0.5rem;
    }

    .card-textos {
        padding-bottom: 4.25rem;
        font-size: 1.2rem;
        line-height: 25px;
        width: 98%;
        left: 2px;
    }

    .inicio {
        height: 55vh;
    }

    .nosotros__img--matesrosa {
        width: 34%;
        margin-bottom: -32%;
        margin-left: 23%;
    }


    .nosotros__img--matesvangogh {
        width: 40%;
        margin-left: -1%;
        margin-bottom: -15%;
    }

    .nosotros__descripcion--textos {
        width: 100%;
    }


    .footer_contacto {
        margin-top: 0%;
    }

    .footer {
        height: 40vh;
    }

    .productos__cards {
        width: 60vw;
        height: 60vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .sets__cards {
        width: 66vw;
        height: 70vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .cards__img--set1 {
        padding-bottom: 5%;
    }

    .cards__img--set2 {
        padding-top: 3%;
        /* padding-bottom: -4%; */
    }

}

@media screen and (min-width: 992px) {
    .carrousel-caption {
        bottom: -6.75rem;
    }

    .cover__textos {
        padding-bottom: 13.25rem;
    }

    h1 {
        font-size: 4rem;
    }

    .cover__subtexto {
        font-size: 1.2rem;
    }


    .nav_items {
        padding-top: 1rem;
    }

    .card-textos {
        padding-bottom: 7.25rem;

        line-height: 32px;
        width: 88%;
        left: 7%;
    }

    .inicio {
        height: 60vh;
    }


    .nosotros__img--matesrosa {
        width: 31%;
        margin-left: 20%;
        margin-bottom: -37%;
    }


    .nosotros__img--matesvangogh {
        width: 33%;
        margin-left: -1%;
        margin-bottom: -21%;

    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 44vh;
    }


    .productos__cards {
        width: 50vw;
        height: 55vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .sets__cards {
        width: 50vw;
        height: 70vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .cover__textos {
        padding-bottom: 24.25rem;
    }

    h1 {
        font-size: 4.6rem;
    }

    .cover__subtexto {
        font-size: 1.5rem;
    }


    .nav_items {
        padding-top: 0.5rem;
        /* margin-left: 3%; */
    }


    .card-textos {
        padding-bottom: 9.25rem;
        left: 13%;
        line-height: 32px;
        width: 72%;
    }

    .inicio {
        height: 60vh;
    }

    .nosotros__img--matesrosa {
        width: 24%;
        margin-left: 14%;
        margin-bottom: -10%;
    }



    .nosotros__img--matesvangogh {
        width: 28%;
        margin-left: -5%;
        margin-bottom: -1%;
    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 48vh;
    }


    .productos__cards {
        width: 24vw;
        height: 45vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .sets__cards {
        width: 26vw;
        height: 56vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .cards__img--set1 {
        padding-bottom: 5%;
    }

    .cards__img--set2 {
        /* padding-bottom: 1%; */
        padding-top: 0%;
        /* padding-bottom: -4%; */
    }
}

@media screen and (min-width: 1400px) {

    h1 {
        font-size: 4.6rem;
    }

    .card-textos {
        font-size: 1.5rem;
        padding-bottom: 12.25rem;
        left: 13%;
        line-height: 32px;
        width: 72%;
    }

    .inicio {
        height: 50vh;
    }

    .nosotros__img--matesrosa {
        width: 24%;
        margin-left: 12%;
        margin-bottom: -14%;
    }

    .nosotros__img--matesvangogh {
        width: 28%;
        margin-left: -4%;
        margin-bottom: -7%;
    }

    .nosotros__descripcion--textos {
        width: 50%;
    }

    .footer {
        height: 48vh;
    }


    .productos__cards {
        width: 20vw;
        height: 45vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }

    .sets__cards {
        width: 20vw;
        height: 57vh;
        background-color: #f8f3e0;
        border-radius: 9px;
        margin-bottom: 2%;
    }


}