$font-montserrat: ('Montserrat'),sans-serif;
$font-merriweather: ('Merriweather'), serif;
$font-light: lighter;
$fondo-clarito: #f8f3e0;
$color-fondo: #EFE8E4;
$color-negro: #000000;
$color-rosa: #fa8482;